.color1 {color: #581a0c;}
.color2 {color: #833717;}
.color3 {color: #be6321;}
.color4 {color: #fd9e3a;}
.color5 {color: #ffea51;}

*, ::backdrop, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
}

#myData div {
    /* border-radius: 15px; */
    background-color: aqua;
}

h3 {
    font-family: 'Lobster', cursive;
    color: rgb(219, 219, 219);
    background-color: #833717;
    padding: 17px;
    letter-spacing: 0.1em;
}

.plats, .dessert {
    background-color: #fd9e3a;
    padding: 15px;
    color: #833717;
}

div {
    /* background-color: rgb(199, 199, 199); */
    line-height: 2em;
    font-size: 25px;
    /* padding: 4%; */
    /* border-radius: 15px; */
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h2 {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: #581a0c;
}

.crumbs ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    list-style-type: none;
}

.crumbs li a {
    display: block;
    color: #be6321;
    padding: 8px 20px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.crumbs li a:hover {
    color: #581a0c;
    border-bottom: #be6321 4px solid;
}

footer {
    height: 250px;
    background-color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #aaa;
    font-size: 25px;
    font-family: 'Lobster', cursive;
}
